body {
    color: brown;
}
.main- {
    font-family: 'Times New Roman', Times, serif;
}
header {
    display: flex;
    justify-content: space-between;
}
.navi {
    font-size: larger;
    margin-right: 20px;
    text-decoration: none;
}
.image {
    height: 100px;
    
   
}
    h1 {
        color: brown;
    }
main {
    margin-bottom: 80px;
}
.main-body {
    background: #34C759; /* Green background */
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
    height: 600px;
    align-items: center;
    display: flex;
    font-size: 18pt;
    
}
.cnyl {
    text-align: center;
    color: brown;
    
}
.home-brief {
    text-align: center;
    margin-left: 17%;
    width: 250px;
    color: brown;
    
}
.body-text {
    margin-left: 40%;
}
.learn-more {
    margin-left: 35%;
    border: solid brown 5px;
    color:white;
    background-color: brown;
    border-radius: 70px;
    
}
.about-learn-more {
     border: solid brown 5px;
    color:white;
    background-color: brown;
    border-radius: 70px;
}
#parent {
    display: flex;
    gap: 300px;
    color: brown;
}
#one {
    width: 400px;
}
#two {
    text-align: center;
    width: 250px;
    font-size: larger;
}
footer {
    display: flex;
    gap: 200px;
}

.form {
    margin-top: 30px;
}
ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
            }
