body {
    color: brown;
}
.main- {
    font-family: 'Times New Roman', Times, serif;
}
header {
    display: flex;
    justify-content: space-between;
}
.navi {
    font-size: larger;
    margin-right: 20px;
    text-decoration: none;
}
.image {
    height: 100px;    
}
main {
    margin-bottom: 50px;
}
.main-body {
    background: #34C759; 
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    height: 600px;
    align-items: center;
    display: flex;
    font-size: 18pt;
    flex-direction: column;
    justify-content: center;
    
}
.home-brief {
    text-align: center;
    width: 250px;
}

.learn-more {
    border: solid brown 5px;
    color:white;
    background-color: brown;
    border-radius: 70px;
    
}
.about-learn-more {
     border: solid brown 5px;
    color:white;
    background-color: brown;
    border-radius: 70px;
}
#parent {
    display: flex;
    justify-content: space-between;
    color: brown;
}
#parent img {
    width: 350px;
}
#one {
    width: 400px;
}
#two {
    text-align: center;
    width: 250px;
    font-size: larger;
    margin-right: 100px;
}
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form {
    margin-top: 30px;
}
ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
            }

            @media (min-width:481px) {
                .menu-toggle {display:fl; height: 50px;}
                .head-nav {display: flex; 
                    gap: 15px; 
                    align-items: center; 
                    font-size: larger; 
                    font-weight: bold;}
                .navi {height: 50px;}
            }

            @media (min-width:320px) and (max-width:480px) {
                .main-body {
                    width: 100%;
                }
                .home-brief {font-size: smaller;}
                .body-text {
                    font-size: smaller;
                }
                .cnyl {
                    font-size: 25px;
                }
                #parent {
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    
                    height: 100vh;
                }
                #parent img {
                    width: 100%;
                }
                #one {
                    width: 100%;}
                    #two {margin-left: 50px;}
                    footer {
                        width: 100%;
                        flex-wrap: wrap;
                        gap: 35px;
                        justify-content: space-around;
                    }
            }
            @media (max-width:500px) {
                #parent {
                    width: 100%;
                    height: 100vh;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;
                }
                #parent img {
                    width: 100%;
                }
            }
